body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.site-name {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.514);
}

.color-1 {
  color: rgb(77, 47, 146);
}

.color-2 {
  color: rgb(94, 93, 93);
}

.info-header {
  position: fixed;
  top: 0;
  z-index: 1;
}

#show-info {
  display: none;
  left: 15%;
  width: 75%;
  margin: 45px auto 50px auto;
  background-color: rgb(248, 246, 250);
  border: 1px solid rgba(0, 0, 0, 0.322);
  box-shadow: 5px -5px 5px rgba(10, 10, 10, 0.356);
  border-radius: 5px;
  padding: 5px 35px 20px 35px;
}

#close-button {
  display: block;
  background-color: rgb(228, 72, 72);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 20px auto 5px auto;
  transition: all 0.8s;
}

#close-button:hover {
  transform: scale(1.2);
  background-color: rgb(76, 103, 189);
}

.margin-adjust-top {
  margin-top: 20px;
  margin-bottom: 5px;
}
.margin-adjust-bottom {
  margin-bottom: 20px;
}

.search-field {
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border-right: 1px solid rgb(127, 238, 160);
}

.search-area {
  margin-bottom: 50px;
}

.search-box {
  display: flex;
  border: 1px solid black;
  width: 281px;
  border-radius: 2px;
  margin: auto;
  margin-top: 30px;
}

.search-box:hover {
  border: 1px solid rgb(146, 94, 243);
}

.search-button {
  border: none;
  padding: 10px 0;
  margin-top: -0.6px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.1em;
  transition: all 0.5s;
}

.search-button:hover {
  background-color: rgb(152, 12, 245);
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.single-product {
  padding: 10px;
  /* background-color: blanchedalmond; */
  background: linear-gradient(white, rgb(43, 42, 42));
  color: aliceblue;
  box-shadow: 4px 4px 7px gray;
  border: 1px solid white;
  transition: all 1s;
  margin-bottom: 40px;
}
.single-product:hover {
  box-shadow: none;
  background: black;
  border-radius: 20px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
